# 2 - Data Preprocessing

## Import Libraries

In [3]:
import pandas as pd

## Load Datasets

In [4]:
# Read in the dataframes
hot100_df = pd.read_csv('../data/1_hot100_raw.csv', sep=';')
mss_df = pd.read_csv('../data/2_million_song_subset_raw.csv', sep=';')

# Show the first 5 rows and shape of each dataframe
display(hot100_df.head())
print(hot100_df.shape)

display(mss_df.head())
print(mss_df.shape)

                   title                                artist
0                Vampire                        Olivia Rodrigo
1     Paint The Town Red                              Doja Cat
2  I Remember Everything  Zach Bryan Featuring Kacey Musgraves
3               Fast Car                            Luke Combs
4           Cruel Summer                          Taylor Swift

(100, 2)

                                      title                     artist
0         b'Je Sais Que La Terre Est Plate'          b'Rapha\xc3\xabl'
1                              b'On Efface'           b'Julie Zenatti'
2                        b'Howells Delight'   b'The Baltimore Consort'
3                          b'Martha Served'            b'I Hate Sally'
4  b'Zip-A-Dee-Doo-Dah (Song of the South)'  b'Orlando Pops Orchestra'

(10000, 2)

## Clean MillionSongSubset df

In [5]:
# Create a copy of the dataframe
mss_clean_df = mss_df.copy()

# Define column type as string
mss_clean_df['title'] = mss_clean_df['title'].astype(str)
mss_clean_df['artist'] = mss_clean_df['artist'].astype(str)

# Clean titles and artists by replacing extra characters: "'" and "b"
mss_clean_df['title'] = mss_clean_df['title'].str.replace('b|\'', '', regex = True)
mss_clean_df['artist'] = mss_clean_df['artist'].str.replace('b|\'', '', regex = True)

# Show first 5 rows
mss_clean_df.head()

                                   title                  artist
0         Je Sais Que La Terre Est Plate           Rapha\xc3\xal
1                              On Efface           Julie Zenatti
2                        Howells Delight   The Baltimore Consort
3                          Martha Served            I Hate Sally
4  Zip-A-Dee-Doo-Dah (Song of the South)  Orlando Pops Orchestra

## Combine Datasets & Drop Duplicate Rows

In [6]:
# Create a new column called 'is_hot' for both dataframes
mss_clean_df['is_hot'] = False
hot100_df['is_hot'] = True

# Concatenate the two dataframes, ignoring the index
combined_df = pd.concat([mss_clean_df, hot100_df], ignore_index=True)

# Drop duplicates
combined_df = combined_df.drop_duplicates(subset=['artist', 'title'])

# Show shape
combined_df.shape

(10042, 3)

## Save Combined Clean Dataset

In [7]:
# Save the dataframe to a csv file
combined_df.to_csv('../data/3_combined_clean_dataset.csv', sep=';', index=False)